
body, html {
  margin: 0;
  background: #000;
  background-image: url("/assets/images/Logo_wait.jpg");
  background-repeat: no-repeat;
}
.debug{
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 36px;
  z-index: 1200;
  color: #CCC;
}
.show{
  visibility: visible;
}
.hide{
  visibility: hidden;
}
.content{
  padding: 0;
  margin: 0;
}
.preload-wrapper{
  $w: 100vw;
  $h: 100vh;
  background-color: #000;
  position: absolute; 
  z-index:1000; 
  left:0; 
  top:0;
  width:$w; 
  height:$h;
  max-width: 1024px;
  max-height: 648px;
  padding: 10px 0 0 10px;
  // border: 10px solid red; 
  .image-wrapper{
    position: absolute;
    img{
      width: 40px;
    }    
  }
  &.small{
    background: none;    
  }
  .progress-wrapper{
    height: inherit;
    width: 400px;
    margin: auto;
    transform: translateY(50%); 
       
    .progress-bar{
      .bar{
        height: inherit;
        width: inherit;
        background-color: rgba(255, 255, 255, 0.5);
      }
      height: 10px;
      width: 400px;
      border: 1px solid #FFF;       
    }
  }
}

// Preloadin animation
$animation-time: 1s;
$size: 70px;

.loader {
  position: relative;
  display: block;
  width: $size;
  height: $size;
}
.box {
  width: 45%;
  height: 45%;
  background: rgba(white, 0.7);
  opacity: 0;
  -webkit-filter: blur(1px);
  animation: load $animation-time linear infinite;
  &:nth-of-type(1) {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
  }
  &:nth-of-type(2) {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    animation-delay: -($animation-time / 4 );
  }
  &:nth-of-type(3) {
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    animation-delay: -($animation-time / 4 )*2;
  }
  &:nth-of-type(4) {
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    animation-delay: -($animation-time / 4 )*3;
  }
}
@keyframes load {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
