
body, html {
  margin: 0;
  background: #000;
}
.show{
  visibility: visible;
}
.hide{
  visibility: hidden;
}
.content{
  padding: 0;
  margin: 0;
}
.preload-wrapper{
  $w: 100vw;
  $h: 100vh;
  background-color: #000;
  position: absolute; 
  z-index:1000; 
  left:0; 
  top:0;
  width:$w; 
  height:$h;
  &.small{
    background: none;    
  }
  .preloader{ 
    $w: 1024px;
    $h: 648px;
    $ch: 540px;
    $ls: 3vw;    
    .progress-bar{
      position: relative;
      transform: translateY(350px);
      .bar{
        height: inherit;
        width: inherit;
        background-color: rgba(255, 255, 255, 0.5);
      }
      margin: auto;
      position: relative; 
      height: 10px;
      width: 400px;
      border: 1px solid #FFF;
    }

    &.startup,
    &.full,
    &.small{
      width:$w; 
      height:$h;
      .image-wrapper{
        top: 50%;
        margin: 0 auto;       
        position: relative; 
        width:$ls;
        height:$ls; 
        img{
          transform: translateY(-50%);
          width:$ls;
          height:$ls; 
        }     
      }     
    }
    &.full{
      background-image: url("/assets/images/Logo_wait.jpg");
      background-repeat: no-repeat;    
    }
    &.small{
      background: none;
      // border: 5px solid red;
    }
  }
}


// .preloader{	
// 	background-color: #000;
// 	position: absolute; 
// 	z-index:1000; 
// 	left:0; top:0;
  
//   &.startup{
//     background-color: #000;
//     width:1024px; 
//     height:648px;
//     div{
//       top: 50%;
//       margin: 0 auto;       
//       position: relative; 
//       // transform: translateY(-100%);
//       // transform: translateX(-50%);
//       // border: 1px solid red;      
//       width:70px;
//       height:70px; 
//       img{
//         transform: translateY(-50%);
//         width:70px;
//         height:70px; 
//       }     
//     }
//   }

//   &.full{
//     // border: 3px solid red;
//     background-image: url("/assets/images/Logo_wait.jpg");
//     background-repeat: no-repeat;
//     width:1024px; 
//     height:648px;
//     div{
//       top: 50%;
//     }
//   }
//   &.small{
//     width:100px; 
//     height:100px;
//   }
//   &.center{
//     width:1024px; 
//     height:548px;
//     background-color: transparent;
//     div{
//       top: 44%;
//     }
//   }

//   .image{
//     background-image: url("/assets/images/preloader.gif");
//     background-size: 70px 70px;
//     background-repeat: no-repeat;
//     margin: 0 auto; 
//     width:70px;
//     height:70px;
//     position: relative; 
//     transform: translateY(-50%);
//     // border: 1px solid red;
//   }
//   .progress-bar{
//     .bar{
//       height: inherit;
//       width: inherit;
//       background-color: rgba(255, 255, 255, 0.5);
//     }
//     margin: auto;
//     position: relative; 
//     transform: translateY(50%);
//     height: 10px;
//     width: 400px;
//     border: 1px solid #FFF;
//   }
// }


// Preloadin animation
$animation-time: 1s;
$size: 70px;

.loader {
  position: relative;
  display: block;
  width: $size;
  height: $size;
}
.box {
  width: 45%;
  height: 45%;
  background: rgba(white, 0.7);
  opacity: 0;
  -webkit-filter: blur(1px);
  animation: load $animation-time linear infinite;
  &:nth-of-type(1) {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
  }
  &:nth-of-type(2) {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    animation-delay: -($animation-time / 4 );
  }
  &:nth-of-type(3) {
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    animation-delay: -($animation-time / 4 )*2;
  }
  &:nth-of-type(4) {
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    animation-delay: -($animation-time / 4 )*3;
  }
}
@keyframes load {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
